<?php
define('TELEGRAM_API_TOKEN', 'xxx');
define('TELEGRAM_API_LIMIT', '100');
define('TELEGRAM_API_TIMEOUT', '10');
define('TELEGRAM_API_USERNAME', 'xxx');
define('FOOTBALL_DATA_API_TOKEN', 'xxx');
//BL 17/18
define('FOOTBALL_DATA_ROOT_URL', 'http://api.football-data.org/v1/competitions/452');
